/* CDN Fonts */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

/* Font Faces */
@font-face {
  font-family: 'Aritaburi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'Aritaburi', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Barriecito', sans-serif;
  --color-primary: #FFF9F1;
  --color-secondary: #744020;
}